<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/sunil/IdeaProjects/POMSeries"><classes><class name="com.qa.opencart.tests.AccountsPageTest"><methods><include name="accPageTitleTest"/><include name="isLogoutLinkExist"/><include name="accPageHeadersCountTest"/><include name="accPageHeadersTest"/></methods></class><class name="com.qa.opencart.tests.LoginPageTest"><methods><include name="loginPageTitleTest"/><include name="loginPageURLTest"/><include name="forgotPwdLinkExistTest"/><include name="logoExistTest"/><include name="loginTest"/></methods></class></classes></test></suite>